body {
    margin: 2.5%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 75vh;
    margin: auto;
    background-color: #4b742c;
}

h1 {
    font-size: 1.2em;
    margin: 10px;
    padding: 5px;
    color: white;
}

#difficulty {
    padding: 5px;
    margin: 10px;
    border: 3px solid white;
    border-radius: 10px;
}

.grid {
    display: grid;
    aspect-ratio: 1;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
    /* border: 10px solid black; */
}

.s-grid {
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}

.m-grid {
    grid-template-columns: repeat(15, 6.67%);
    grid-template-rows: repeat(15, 6.67%);
}

.l-grid {
    grid-template-columns: repeat(23, 4.35%);
    grid-template-rows: repeat(23, 4.35%);
}

.box {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 140%;
}

.light {
    background-color: #acd454;
}

.dark {
    background-color: #a2d149;
}

.dug.light {
    background-color: #e5c29f;
}

.dug.dark {
    background-color: #d7b899;
}

.flag {
    color: #f23607;
}

.one {
    color: #1976d2;
}

.two {
    color: #388e3c;
}

.three {
    color: #d32f2f;
}

.four {
    color: #7b1fa2;
}

.five {}

.six {}

.seven {}

.eight {}

.nine {}

#footer {
    margin-top: 10px;
    margin: auto;
    height: 10vh;
    width: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b742c;
}

#footer button {
    margin: 10px;
    margin-bottom: none;
    padding: 10px;
    border: 0.2em solid black;
    border-radius: 10px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #acd454;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .18);
}

#footer button:hover {
    cursor: pointer;
    transition: top ease 0.5s;
    transform: translateY(-2px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    background-color: white;
    color: black;
}

#footer button:active {
    cursor: pointer;
    transform: translateY(2px);
}